# ==========================================================
# Atlas Backend Environment File
#
# Fill the required values below.
#
# This file should never be committed to Git.
# ==========================================================